html,body{
width: 100%;
height: 100%;
}
body{
	margin:0 ;
	padding:0 ;
}
header{
	position: fixed;
	width: 100%;
	height: 102px;
	background-color: #303030;
}
header .header{
	width: 1324px;
	display: flex;
	height: 100%;
	margin: auto;
	align-items: center;
	justify-content: space-between;
}
header .menu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-family: 'Oswald',sans-serif;
}
header .menu li{
	float: left;
	margin: 0px 28px ;
	color: #fff;
}
.slider{
	background-image: url(../image/slider-01.jpg);
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.sldr{
	width: 1324px;
	height: 100%;
	margin: auto;
	display: flex;
	padding-bottom: 85px;
	box-sizing: border-box;
	align-items: flex-end;
}
.slider-title{
	font-size: 60px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	margin-bottom: 25px;
}
.slider-content{
	width: 50%;
	height: 50%;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	margin-bottom: 41px;
}
.slider-button{
	background-color: #e8631c;
	display: flex;
	padding: 20px 80px;
	float: left;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	border-radius: 5px;
	text-transform: uppercase;
	font-size: 20px;
}
.dance-tour-content{
	background: #e8631c;
	overflow: hidden;
	text-align: center;
}
.title{
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 45px;
	margin-top: 120px;
	margin-bottom: 45px;
	text-transform: uppercase;
}
.text{
	width: 869px;
	margin: auto;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
}
.dt-card{
	width: 1324px;
	overflow: hidden;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
	padding-bottom: 100px;
}
.dt-card .card{
	width: calc(33% - 64px);
    overflow: hidden;
	background: #303030;
}
.dt-card .card .dt-title{
	font-size: 45px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	margin-top: 41px;
	text-align: center;
	text-transform: uppercase;
}
.dt-card .card .dt-text{
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	margin-top: 18px;
	margin-bottom: 32px;
}
.pricing-content{
	background: #303030;
	width: 100%;
	overflow: hidden;
	text-align: center;
}
.pricing-content .p-card{
	width: 100%;
	overflow: hidden;
	margin-top: 60px;
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.pricing-content .p-card .card{
	width: calc(33% - 64px);
    background: #e8631c;
	margin: auto;
	padding-top: 60px;
	padding-bottom: 25px;
	border-radius: 8px;
}
.pricing-content .p-card .card .p-title{
	color: #fff;
	font-family: 'Oswald', sans-serif;
    font-weight: 600;
	text-transform: uppercase;
	font-size: 30px;
	margin-top: 55px;
}
.pricing-content .p-card .card .p-text{
	color: #fff;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
}
.pricing-content .p-card .card .button{
	width: calc(100% - 50px);
	color: #fff;
	background: #303030;
	margin: auto;
	padding: 15px;
	font-size: 20px;
	border-radius: 4px;
}
.dance-kategori-content{
	width: 100%;
	overflow: hidden;
	background: #e8631c;
}
.dance-kategori-content .card-top .top-content{
	width: 50%;
	float: right;
	overflow: hidden;
}
.dance-kategori-content .dk-title{
	margin-top: 320px;
	margin-left: 85px;
	margin-bottom: 65px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 45px;
	text-transform: uppercase;
}
.dance-kategori-content  .dk-text{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	margin-left: 85px;
	margin-bottom: 70px;
	margin-right: 45px;
}
.dance-kategori-content .button{
	width: 310px;
	background: #303030;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	padding: 15px;
	text-align: center;
	margin-left: 85px;
	border-radius: 4px;
}
.dance-kategori-content .card-bottom .bottom-content{
	width: 50%;
	float: left;
	overflow: hidden;
}
.statics{
	width: 100%;
	overflow:hidden;
	background: #303030;
	text-align: center;
	color: #fff;
}
.statics .statics-card{
	width: 100%;
	overflow: hidden;
	margin-top: 198px;
	margin-bottom: 265px;
	display: flex;
	justify-content: space-between;
}
.statics .statics-card .card{
	width: calc(100% - 400px);
}
.statics .statics-card .card .data{
	font-size: 45px;
	font-family: 'Oswald', sans-serif;
    font-weight: 700;
}
.statics .statics-card .card .name{
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
}
.herbert-simone{
    background: url(../image/herberd-simone.jpg);
	background-position: center;
	background-repeat: no-repeat;
	padding: 345px 0 341px 0; 
	text-align: center;
}
.subscribe{
	background:#e8631c;
	overflow: hidden;
}